/* main color theme
    background: #fbf9f7
    borders: #EAE0D5
    headings color: #203368
    accent color: #c21e6b
    2nd accent color: #336820
*/

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fbf9f7;
  text-align: center;
}

h2 {
  font-weight: 400;
  font-size: 1.625rem;
}

h3 {
  font-weight: 400;
  font-size: 1.25rem;
}

p {
  font-family: 'Lora', serif;
  font-size: 1rem;
}

header {
  /* border-top: 1vh solid #e5d0cf; */
  /* border-top: 1vh solid #c21e6b; */
  width: 100%; 
}

header img {
  max-width: 400px;
}

.primaryNav {
  width: 100%;
  margin: 0 auto;
  height: 70px;
  margin-bottom: 80px;
  position: sticky;
  top: 0px;
  z-index: 999;
  background-color: #fbf9f7;
  border-bottom: 0.2rem solid #c21e6b;
}

.primaryNav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
}

.primaryNav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  /* color: rgb(55, 55, 55); */
  color: #203368;
  font-size: 0.9rem;
}

.active {
  color: #c21e6b !inportant;
}

.primaryNav a:hover {
  color: #c21e6b;
}

#services {
  font-family: 'Lora', serif;
  width: 95%;
  margin: 0 auto 100px;
  /* margin-bottom: 100px; */
}

#services h2 {
  font-size: 32px !important;
}

.container-services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.container-services img {
  width: 100%;
  height: 100%;
}

#container-flex {
    border: rgba(55, 55, 55, 0.25) 1px solid;
    box-shadow: 2px 2px 4px rgba(55, 55, 55, 0.5);
    width: 24%;
    min-width: 300px;
    position: relative;
    margin: 10px auto;
    transition-duration: 0.5s;
    /* border: 2px solid hsla(332, 73%, 44%, 0.25); */
}

#container-flex:hover {
  box-shadow: 0px 0px 4px rgba(55, 55, 55, 0.25);
}

#title-and-button {
  position: absolute;
  bottom: 20px;
  background-color: white;
  width: 90%;
  left: 5%;
}

#title-and-button:nth-child(2) {
  padding-bottom: 20px;
}

.button-primary {
  /* background-color: rgb(55, 55, 55); */
  background-color: #203368;
  color: white;
  border-radius: 25px;
  padding: 15px 30px;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s ease-in-out;
}

.button-primary:hover {
  background-color: #c21e6b;
  border: 2px transparent solid;
  cursor: pointer;
}

#about-me {
  margin-bottom:100px;
}

.about-me-container {
  /* border: 1px red solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.about-me-container img {
  min-width: 300px;
  width: 40%;
  height: 100%;
  /* margin: 0 auto; */
  flex-shrink: 2;
  max-width: 450px;
  border: rgba(55, 55, 55, 0.25) 1px solid;
  box-shadow: 2px 2px 4px rgba(55, 55, 55, 0.5);
  transition-duration: 0.5s;
}

.about-me-container img:hover {
  box-shadow: 0px 0px 4px rgba(55, 55, 55, 0.25);
}

.about-me-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  text-align: left;
  padding:0 2%;
  flex-shrink: 1;
}

.about-me-details p {
  line-height: 1.8;
  padding: 5% 0;
  color: rgb(122, 122, 122);
}

.about-me-details button {
  width: 180px;
  text-transform: uppercase;
}

@media screen and (max-width: 900px) {
.about-me-details p {
    font-size: 0.875rem;
}
    .about-me-container img{
      min-width: 250px;
    }
}

@media screen and (max-width: 500px) {
.about-me-details {
    text-align: center;
    width: 80%;
  }
    .about-me-details button {
      margin: 0 auto;
    }
}

#carousel {
  width: 95%;
  margin: 0 auto;
}

#carousel h2 {
  margin-bottom: 80px;
}

.containerCarousel {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.containerCarousel img {
  border-radius: 50%;
  margin-bottom: 20px;
  border: rgba(55, 55, 55, 0.25) 1px solid;
  box-shadow: 2px 2px 4px rgba(55, 55, 55, 0.5);
  transition-duration: 0.5s;
  max-width: 100px;
}

.containerCarousel img:hover {
  box-shadow: 0px 0px 4px rgba(55, 55, 55, 0.25);
}

.containerCarouselItem {
  margin: 0 80px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  min-width: 250px;
}

.containerCarouselItem p {
  width: 95%;
}

footer {
  background-color: #203368;
  color: white;
  padding: 80px 20px;
  border-top: 0.2rem solid #c21e6b;
}

footer ul {
  list-style: none;
  margin-bottom: 50px;
}

footer li {
  display: inline-block;
}

footer a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  opacity: 0.9;
  transition: 500ms ease;
  padding: 0 16px;
  border-right: 2px solid white;
}

footer #lastNavItem {
  border-right: 2px solid #203368 !important;
}

footer a:hover {
  opacity: 1;
  font-size: 1rem;
}

footer img {
  width: 11px;
  transition: 500ms ease;
}

footer img:hover {
  width: 16px;
}
